.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

.Icon-container-check {
    position: absolute;
    left: 24px;
}

.Icon-container-check svg :hover {
    fill: blue;
}

.Icon-container-delete {
    position: absolute;
    right: 24px;
}
.Icon-container-delete svg :hover {
    fill: red;
}